html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 1200px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar */
@media (max-width: 640px) {
  header .responsive_nav {
    transform: none;
  }

  nav .close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

/* type pokemon */
.Rock {
  background-color: rgb(148, 81, 81);
}
.Ghost {
  background-color: rgb(247, 247, 247);
}
.Electric {
  background-color: rgb(255, 255, 161);
}
.Bug {
  background-color: #F6D6A7;
}
.Poison {
  background-color: #e0a7f6;
}
.Normal {
  background-color: #F4F4F4;
}
.Fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.Fire {
  background-color: #FBE3DF;
}
.Grass {
  background-color:#E2F9E1;
}
.Water {
  background-color:#E0F1FD;
}